#</html<!DOCTYPE html>
#<html>
# <head>
    <title>{{ html }} - Vertex Technology</title>
  </head>
  <body>
    <h1>Welcome to {{ html }} deployed by {{ html }}!</h1>
    <p>Deploy batch at 8:30. Enjoy your stay!</p>
  </body>
#</html>
#>



